@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="background-color: @Model.Settings.BgColor">@Model.Settings.HeaderContent</a>.</p>
</div>
